addressable==1.4.2
adobe-analytics-2==0.5
adobe-analytics-api-20==0.0.1
altair==3.2.0
api==0.0.7
apiclient==1.0.4
argh==0.26.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.4.1
atomicwrites==1.3.0
attrs==19.1.0
authentication==1.1.0
Automat==0.7.0
backcall==0.1.0
base58==1.0.3
beautifulsoup4==4.7.1
BigQuery-Python==1.14.1
blinker==1.4
blis==0.4.1
boto==2.49.0
boto3==1.9.241
botocore==1.12.241
boxsdk==2.5.0
build==1.0.2
cachetools==3.1.1
cashew==0.2.7
catboost==0.22
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
Click==7.0
client==0.0.1
colorama==0.4.1
config==0.5.0
configparser==5.0.0
constantly==15.1.0
Corpora==1.0
coverage==5.0.3
cryptography==2.7
curlify==2.2.1
cycler==0.10.0
cymem==2.0.2
dash==1.12.0
dash-bootstrap-components==0.9.2
dash-core-components==1.10.0
dash-database==1.0
dash-extensions==0.0.18
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
datorama==0.7
decorator==4.4.0
defusedxml==0.6.0
django-theherk-download==1.2
docopt==0.6.2
docutils==0.15.2
download==0.3.5
entrypoints==0.3
enum-compat==0.0.2
et-xmlfile==1.0.1
express==1.0
facebook-business==6.0.3
facebookads==2.11.4
Flask==1.0.3
Flask-Compress==1.4.0
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
funcy==1.13
future==0.17.1
gensim==3.8.1
google==2.0.2
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-cloud-bigquery==1.23.1
google-cloud-bigquery-datatransfer==1.0.0
google-cloud-bigquery-storage==0.7.0
google-cloud-core==1.0.3
google-cloud-storage==1.23.0
google-cloud-vision==0.37.0
google-resumable-media==0.5.0
googleanalytics==0.26.0
googleapis-common-protos==1.6.0
graphviz==0.13.2
grpcio==1.22.0
gspread==3.1.0
gunicorn==20.0.4
helpers==0.2.0
hyperlink==19.0.0
idna==2.9
importlib-metadata==0.23
incremental==17.5.0
inflection==0.3.1
inspect-it==0.3.2
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.0
jellyfish==0.7.2
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.5.0
keyring==5.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.3.4
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.1.0
murmurhash==1.0.2
mysqlclient==1.4.6
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.4
nose==1.3.7
notebook==5.7.8
num2words==0.5.10
numexpr==2.7.0
numpy==1.17.3
oauth2client==4.1.3
oauthlib==3.1.0
omniture==0.5.2
opencv-python==4.1.1.26
openpyxl==3.0.3
packaging==19.0
pandas==1.0.5
pandas-gbq==0.13.1
pandocfilters==1.4.2
parso==0.5.0
passlib==1.7.2
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
percy==2.0.2
pickleshare==0.7.5
plac==1.1.3
plotly==3.10.0
pluggy==0.12.0
preprocessing==0.1.13
preshed==3.0.2
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.8.0
psycopg2==2.8.4
py==1.8.0
pyaml==20.4.0
pyarrow==0.15.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycountry==19.8.18
pycparser==2.19
pycryptodome==3.9.7
pydata-google-auth==1.1.0
PyDrive==1.3.1
Pygments==2.4.2
PyHamcrest==1.9.0
PyJWT==1.5.3
pyLDAvis==2.1.2
pylev==1.3.0
pylint==2.5.2
pymongo==3.8.0
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.0
Pyphen==0.9.5
pyrsistent==0.15.2
pyrst==0.6.3a0
pytest==5.0.0
pytest-mock==1.10.4
pytest-sugar==0.9.2
python-dateutil==2.8.0
python-docx==0.8.10
python-pptx==0.6.18
pytz==2019.1
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.1
redis==3.4.1
regression==0.4.3
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.1
s3transfer==0.2.1
scikit-learn==0.21.2
scikit-optimize==0.7.4
scipy==1.3.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
smart-open==1.9.0
snakify==1.1.1
soupsieve==1.9.2
spacy==2.2.2
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.3.11
sqlitedict==1.6.0
srsly==0.2.0
statsmodels==0.11.1
streamlit==0.47.2
substring==0.2
suds-jurko==0.6
tableauserverclient==0.9
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.3.1
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
tqdm==4.37.0
traitlets==4.3.2
typed-ast==1.4.1
tzlocal==2.0.0
unicode-slugify==0.1.3
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.9
validators==0.14.0
w3lib==1.20.0
wasabi==0.4.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.5.0
wordcloud==1.5.0
wrapt==1.11.2
WTForms==2.2.1
xgboost==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.8
zipp==0.5.1
zope.interface==4.6.0
